.NackgVider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    /* height: 100%; */
}

.main_layout_style::-webkit-scrollbar {
    display: none;
}

.main_layout_style {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: auto;
    border-radius: 10px;
    max-width: 1450px;
    min-height: 800px;
    max-height:1200px;
    overflow: auto;

}



.MenuGetTHem:hover{
    opacity: 1;
}
.MenuGetTHem{
    position: fixed;
    transition: .2s;
    bottom: 10px;
    opacity: .2;
}



/* ----------------- */

.navButton:hover svg,
.navButton:hover p {
    color: var(---) !important;
    fill: var(---) !important;
}

/* . */


.navButton.active {
    background-color: var(---);
}
.navButton.active:hover svg,
.navButton.active:hover p {
    color:#fff;
    fill: #fff;
}
.navButton.active svg,
.navButton.active p {
    color:#fff;
    fill: #fff;
}

.LogoIcone {
    margin-right: 10px;
    filter: drop-shadow(0 0 10px #fff);
}

.DarkModeIcone {
    animation: animteIcoe .6s alternate;
}

@keyframes animteIcoe {
    0% {

        transform: translateY(20px);
    }
}

.LighModeIcone {
    animation: animteIcoe2 .6s alternate;
}

@keyframes animteIcoe2 {
    0% {

        transform: translateY(-30px);
    }
}

/* _______________ ABOUT ME STYLE   _______________________ */
.portfolioSection.active {
    opacity: 1;
    /* transform: scale(1); */
}

.portfolioSection {
    opacity: 0.2;
    transition: .4s;
    /* transform: scale(.5); */
}


/* -------- */

.WELCOMING_TEXT_STYLE {
    font-size: 35px;
    font-family: "Kanit", serif;
    font-weight: 600;
    margin-bottom: 20px;

}

.cntMyImg .IconeSkilStyle1 {
    top: 0;
    filter: drop-shadow(0 0 20px rgba(41, 87, 255, 0.789));
    left: 0;
    animation: ReactLogoAnimation 5s infinite;
}

@keyframes ReactLogoAnimation {
    0% {

        transform: rotate(0);

    }

    50% {
        transform: rotate(360deg);
    }

    100% {

        transform: rotate(0);

    }
}

.cntMyImg .IconeSkilStyle2 {
    animation: LaravelLogoAnimation 5s infinite;
    bottom: 0;
    width: 80px !important;
    filter: drop-shadow(0 0 20px rgba(255, 17, 17, 0.789));
    height: auto !important;
    left: 0;
}


.cntMyImg .IconeSkilStyle3 {
    top: 0;
    filter: drop-shadow(0 0 20px rgba(255, 247, 28, 0.842));
    right: 0;
}

.cntMyImg .IconeSkilStyle4 {
    filter: drop-shadow(0 0 20px rgb(0, 223, 64));
    bottom: 0;
    right: 0;
}

.cntMyImg .IconeSkilStyle {
    position: absolute;
    width: 40px;
    height: 40px;
}

.cntMyImg {
    /* width:50%; */
    /* height: 600px; */
    padding: 30px;
}

.MyImageStyle {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    object-position: top;
}

/* _______________ HEADER  STYLE  _______________________ */
.cntTexttareaMessage {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    margin-left: 20px;
}

.cntTexttareaMessage svg {
    fill: var(--bg-primary);
    width: 20px;
    margin-left: 20px;
    height: 20px;
}

.cntTexttareaMessage button {
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
    width: 120px;
    border-radius: 20px;
    margin-top: 20px;
}

.cntTexttareaMessage textarea {
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    margin-left: 20px;
    font-weight: 600;
    resize: none;
    border: none;
    min-height: 200px;
}



/* ------ SKILLS SECTION -------------------------- */

.st0 {
    fill: #FFA000;
}

.st1 {
    fill: #F57F17;
}

.st2 {
    fill: #FFCA28;
}

.st20 {
    fill: #EA4335;
}

.st21 {
    fill: #4285F4;
}

.st22 {
    fill: #34A853;
}

.st23 {
    fill: #FBBC05;
}

.cntALlSkillls .SkillElemHome svg {
    width: 40px;
    height: 40px;
}

.cntALlSkillls .SkillElemHome {
    width: 30%;
    min-width: 350px;
    margin: 10px;
    padding: 20px;
    border: solid 1px var(--border-color);
    /* background-color: var(--bg-third); */
}

.cntALlSkillls {
    width: 100%;



}



/* ---------------------- */

.laptop {
    transform: scale(0.8);
    margin-right: 20px;
}

.screen.active {
    animation: open_laptop 1s cubic-bezier(0.68, 0, 0.265, 1.55);
    transform: perspective(1900px) rotateX(0deg);
}

.screen.inactive {
    animation: close_laptop 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: perspective(1900px) rotateX(-88.5deg);
}


.screen {
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #c8cacb, inset 0 0 0 10px #000;
    height: 318px;
    width: 518px;
    margin: 0 auto;
    transform: perspective(1900px) rotateX(-88.5deg);
    padding: 9px 9px 23px 9px;
    position: relative;
    display: flex;
    transition: .2s;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    padding-bottom: 50px !important;
}

.screenContainer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@keyframes open_laptop {
    0% {
        transform: perspective(1900px) rotateX(-88.5deg);
    }

}

@keyframes close_laptop {
    0% {
        transform: perspective(1000px) rotateX(0deg);
    }

    100% {
        transform: perspective(1900px) rotateX(-88.5deg);
    }
}

.screen::before {
    content: "";
    width: 518px;
    height: 12px;
    position: absolute;
    background: linear-gradient(#979899, transparent);
    top: -3px;
    transform: rotateX(90deg);
    border-radius: 5px 5px;
}

.text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0 0 5px #fff;
}

.header {
    width: 100px;
    height: 12px;
    position: absolute;
    background-color: #000;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -0%);
    border-radius: 0 0 6px 6px;
}

.screen::after {
    background: linear-gradient(to bottom, #272727, #0d0d0d);
    border-radius: 0 0 20px 20px;
    bottom: 2px;
    content: "";
    height: 24px;
    left: 2px;
    position: absolute;
    width: 514px;
}

.keyboard {
    background: radial-gradient(circle at center, #e2e3e4 85%, #a9abac 100%);
    border: solid #a0a3a7;
    border-radius: 2px 2px 12px 12px;
    border-width: 1px 2px 0 2px;
    box-shadow: inset 0 -2px 8px 0 #6c7074;
    height: 24px;
    margin-top: -10px;
    position: relative;
    width: 620px;
    z-index: 9;
}

.keyboard::after {
    background: #e2e3e4;
    border-radius: 0 0 10px 10px;
    box-shadow: inset 0 0 4px 2px #babdbf;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    top: 0;
    width: 120px;
}

.keyboard::before {
    background: 0 0;
    border-radius: 0 0 3px 3px;
    bottom: -2px;
    box-shadow: -270px 0 #272727, 250px 0 #272727;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 40px;
}

/* -------------------- */
.phone {
    width: 170px;
    height: 300px;
    background: black;
    transition: .2s !important;
    border-radius: 35px;
    border: 2px solid rgb(40, 40, 40);
    padding: 7px;
    position: relative;
    box-shadow: 2px 5px 15px var(--filter-color);
}

.card-int img {
    width: 100%;
    height: 100%;
}

.card-int {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color: var(--bg-primary);
    overflow: hidden;
    position: relative;
}



.top {
    position: absolute;
    top: 0px;
    right: 50%;
    transform: translate(50%, 0%);
    width: 35%;
    height: 18px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.speaker {
    position: absolute;
    top: 2px;
    right: 50%;
    transform: translate(50%, 0%);
    width: 40%;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(20, 20, 20);
}

.camera {
    position: absolute;
    top: 6px;
    right: 84%;
    transform: translate(50%, 0%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.048);
}

.int {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(0, 0, 255, 0.212);
}

.btn1,
.btn2,
.btn3,
.btn4 {
    position: absolute;
    width: 2px;
}

.btn1,
.btn2,
.btn3 {
    height: 45px;
    top: 30%;
    right: -4px;
    background-image: linear-gradient(to right, #111111, #222222, #333333, #464646, #595959);
}

.btn2,
.btn3 {
    transform: scale(-1);
    left: -4px;
}

.btn2,
.btn3 {
    transform: scale(-1);
    height: 30px;
}

.btn2 {
    top: 26%
}

.btn3 {
    top: 36%
}


.hidden {
    display: block;
    opacity: 0;
    transition: all 0.3s ease-in;
}



/* ----------------------------------------- */
.BtnCopyText p {
    display: none;
    white-space: nowrap;
    animation-duration: .1s;
    opacity: 0;
}

.BtnCopyText:hover p {
    position: relative;
    display: flex;
    opacity: 1;
}

.BtnCopyText:hover {
    background-color: var(--bg-third);

}

.BtnCopyText {
    position: relative;
    padding: 5px 10px;
    width: 150px;
    cursor: pointer;
}

.cntTechniquesProjects svg {
    margin-right: 20px;
}

@media screen and (max-width:800px) {
    .menuChooses {
        position: absolute;
        background-color: var(--bg-primary);
        right: 0px;
        filter: drop-shadow(-5px -5px 10px rgba(0, 0, 0, 0.258));
        top:10px;
        width: 200px;
        border-radius: 10px 0 10px 10px ;
        padding: 10px;
        height: 330px;
        animation: animteMenu .15s ;
    }
    
    @keyframes animteMenu {
        0%{
            transform: scale(.6);
            /* width: 0; */
            opacity: 0;
            /* height: 0; */
        }
    }
    .navButton{
        width: 100%;
        margin-bottom: 10px;
        justify-content: start;
        border-radius: 20px;
    }
    .NackgVider {
        display: none;
    }

    .portfolioSection.active {
        opacity: 1;
        /* transform: scale(1); */
    }

    .portfolioSection {
        width: 100%;
        opacity: 1;
        transition: .4s;
    }


    .main_layout_style {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin: auto;
        background-color: var(--bg-third);
        border-radius: 10px;
        max-width: none;
        min-height: 800px;
        max-height: none;

    }

    .MyImageStyle {
        width: 300px;
        height: 300px;
    }

    .WELCOMING_TEXT_STYLE {
        font-size: 25px !important;
        text-align: center;
        font-family: "Kanit", serif;
        font-weight: 600;
        margin-bottom: 20px;

    }


    .cntALlSkillls .SkillElemHome svg {
        width: 40px;
        height: 40px;
    }

    .cntALlSkillls .SkillElemHome {
        width: 100%;
        min-width: 0;
        margin: 0;
        margin-bottom: 20px;
        padding: 20px;
        border: solid 1px var(--border-color);
        /* background-color: var(--bg-third); */
    }

    .laptop {
        transform: scale(0.8);
        margin-right: 0px;
        width: 100%;

    }

    .screen.active {
        animation: open_laptop 1s cubic-bezier(0.68, 0, 0.265, 1.55);
        transform: perspective(1900px) rotateX(0deg);
    }

    .screen.inactive {
        animation: close_laptop 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transform: perspective(1900px) rotateX(-88.5deg);
    }


    .screen {
        border-radius: 20px;
        box-shadow: inset 0 0 0 2px #c8cacb, inset 0 0 0 10px #000;
        height: 265px;
        width: 100%;
        margin: 0 auto;
        transform: perspective(1900px) rotateX(-88.5deg);
        padding: 9px 9px 23px 9px;
        position: relative;
        display: flex;
        transition: .2s;
        align-items: center;
        justify-content: center;
        transform-style: preserve-3d;
        transform-origin: 50% 100%;
        padding-bottom: 10px !important;
    }

    .screenContainer {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    @keyframes open_laptop {
        0% {
            transform: perspective(1900px) rotateX(-88.5deg);
        }

    }

    @keyframes close_laptop {
        0% {
            transform: perspective(1000px) rotateX(0deg);
        }

        100% {
            transform: perspective(1900px) rotateX(-88.5deg);
        }
    }

    .screen::before {
        content: "";
        width: 95%;
        height: 12px;
        position: absolute;
        background: linear-gradient(#979899, transparent);
        top: -3px;
        transform: rotateX(90deg);
        border-radius: 5px 5px;
    }

    .header {
        width: 70px;
        height: 12px;
        position: absolute;
        background-color: #000;
        top: 10px;
        left: 50%;
        transform: translate(-50%, -0%);
        border-radius: 0 0 6px 6px;
    }

    .screen::after {
        background: linear-gradient(to bottom, #272727, #0d0d0d);
        border-radius: 0 0 20px 20px;
        bottom: 2px;
        content: "";
        height: 24px;
        left: 2px;
        position: absolute;
        width: 98%;
    }

    .keyboard {
        background: radial-gradient(circle at center, #e2e3e4 85%, #a9abac 100%);
        border: solid #a0a3a7;
        border-radius: 2px 2px 12px 12px;
        border-width: 1px 2px 0 2px;
        box-shadow: inset 0 -2px 8px 0 #6c7074;
        height: 24px;
        margin-top: -10px;
        position: relative;
        width: 100%;
        z-index: 9;
    }

    .keyboard::after {
        background: #e2e3e4;
        border-radius: 0 0 10px 10px;
        box-shadow: inset 0 0 4px 2px #babdbf;
        content: "";
        height: 10px;
        left: 50%;
        margin-left: -60px;
        position: absolute;
        top: 0;
        width: 120px;
    }

    .keyboard::before {
        background: 0 0;
        border-radius: 0 0 3px 3px;
        bottom: -2px;
        box-shadow: -270px 0 #272727, 250px 0 #272727;
        content: "";
        height: 2px;
        left: 30%;
        margin-left: -10px;
        position: absolute;
        width: 40px;
    }

    /* -------------------- */
    .cntTexttareaMessage {
        width: 100%;
        max-width: 800px;
        margin-top: 20px;
        margin-left: 0;
    }

    .cntTexttareaMessage textarea {
        padding: 15px;
        border-radius: 10px;
        width: 100%;
        margin-left: 0 !important;
        font-weight: 600;
        resize: none;
        border: none;
        min-height: 200px;
    }


    /* . */
    .navButton svg,
    .navButton p {
        transition: .2s;
        color: var(--bg-secondary) !important;
        fill: var(--bg-secondary) !important;
        /* opacity: .8; */
    }
    .navButton.active svg,
    .navButton.active p {
        color:#fff !important;
        fill: #fff !important;
    }


}